name: 'Cache Forge installation'

on:
  workflow_dispatch:
  workflow_call:

permissions:
  id-token: write
  contents: read

env:
  FORGE_SNAPSHOT_URL: 'https://downloads.cardforge.org/dailysnapshots/'
  HOME: '/home/runner'

jobs:
  cache:
    name: Build cache
    runs-on: ubuntu-latest
    steps:
      - name: Cache setup
        id: cache-forge
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.HOME }}/forge
          key: forge
          restore-keys: forge

      - name: Checkout
        if: steps.cache-forge.outputs.cache-hit != 'true'
        uses: actions/checkout@v4

      - name: Forge installation
        if: steps.cache-forge.outputs.cache-hit != 'true'
        run: |
          source ./.fn-mtg
          cd ${{ env.HOME }}
          fu
